@{
    ViewData["Title"] = "Home Page";
}



<div class="hero-image">
    <div class="hero-text">
        <h1>Restoranko</h1>
        <p>Restoran menagment system</p>
        <button>Hire us</button>
    </div>
</div>