@{
    ViewData["Title"] = "Home Page";
}

    <div class="Hero-text">
        <h1 class="display-4">Restoranko</h1>
    </div>





<div class="container">
    <div class="row">
        <div class="col-md-4">
            
                <div class="card">
                    <img src="img/Employe.jpg" alt="Card Image" class="card-img">
                    <div class="card-body">
                        <h5 class="card-title">Inventory Menagmnet</h5>
                        <p class="card-text">Card description goes here.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
           
        </div>
        <div class="col-md-4">
            
                <div class="card">
                    <img src="img/Employe.jpg" alt="Card Image" class="card-img">
                    <div class="card-body">
                        <h5 class="card-title">Time Menagment</h5>
                        <p class="card-text">Card  goes here.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
          
        </div>
        <div class="col-md-4">
         
                <div class="card">
                    <img src="img/Employe.jpg" alt="Card Image" class="card-img">
                    <div class="card-body">
                        <h5 class="card-title">Menu Menagment</h5>
                        <p class="card-text">Card description goes here.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        
    </div>
</div>



   