*{
    margin:0px;
    padding:0px;
}

body {
    background-image: url(/img/Restoran_ml_resize_x6.jpg);
    /* Set a specific height */
    height: 100vh;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.Hero-text {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(233, 229, 229);
}
.card
{
    width:80%;
    top:475px;
    background-color:rgb(143, 152, 103);
  
}
.card-body
{
    color:rgb(242, 236, 125)
}
#black
{
    color:rgb(60, 55, 55)
}